# output
__tests/*
StabSolverUnited/*
_UpgradeReport_Files/*
x64/*
bin_*/
bin-*/
lib/*
lib_vc14/*
#configures
tools/**/*.ini
# compiler generated & precomp
*_mod.f90
*.pchi
# intermed
*.mod
*.ncb
*.obj
*.pchi
# msvs
*.VC.db
*.VC.opendb
*.suo
*.res
*.manifest
#class diagrams
*.cd
# libs, exec
*.lib
*.dll
*.exe
# ??
*.ilk
*.idb
*.u2d
*.dep
*.user
*.pdb
*.html
*.htm
*.dat
*.txt
*.dg
#others
*.rar
*.zip
