# output
StabSolverUnited/output/*
StabSolverUnited/__tests__/*
StabSolverUnited/results/*
StabSolverUnited/input/*
_UpgradeReport_Files/*
x64/*
# compiler generated (hope will not name source like this)
*_mod.f90
# intermed
*.mod
*.ncb
*.obj
# msvs
*.suo
*.res
*.manifest
# libs, exec
*.lib
*.dll
*.exe
# ??
*.ilk
*.idb
*.u2d
*.dep
*.user
*.pdb
*.html
*.htm
*.dat
*.txt
*.dg
