# output
__tests/*
StabSolverUnited/*
_UpgradeReport_Files/*
x64/*
bin_*/
bin-*/
# compiler generated & precomp
*_mod.f90
*.pchi
# intermed
*.mod
*.ncb
*.obj
*.pchi
# msvs
*.suo
*.res
*.manifest
#class diagrams
*.cd
# libs, exec
*.lib
*.dll
*.exe
# ??
*.ilk
*.idb
*.u2d
*.dep
*.user
*.pdb
*.html
*.htm
*.dat
*.txt
*.dg
#others
*.rar
*.zip
